
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content--gallery {
    max-width: calc(1440px + 16px+2);
    padding: 0 16px;
    margin: 0 auto;
}
.gallery {
    width: 100vw;
    height: 29px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.gallery--head {
    width: 311px;
    height: 29px;
    margin-left: 160px;
    color: #0499DD;
    font-family: Montserrat;
    font-style: bold;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%; 
    font-weight: 700;
    vertical-align: Top;
    text-align: left;
}
.gallery--button {
    border: none;
    background-color: transparent;
    margin-right: 160px;
   

}
.gallery--button:hover {
    border: 3px solid #0499DD;
}
.gallery--button--text{
    width: 85px;
    height: 15px;
    color: #282828;
    font-family: Montserrat;
    font-style: Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    line-height: 100%; 
    vertical-align: Top;
    text-align: left;
  
}


.gallery--picterus {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: "pictures1 pictures1 pictures2 pictures3 pictures4"
                         "pictures5   pictures6 pictures2 pictures8 pictures8"
                         " pictures5 pictures7 pictures2 pictures8 pictures8" ;
    margin-top: 90px;
}
.mountains--river {
    grid-area: pictures1;
}
.waterfall {
    grid-area: pictures2;
}
.quad bike { 
    grid-area: pictures3;
}
.sunset {
    grid-area: pictures4;
}
.horse {
    grid-area: pictures5;
}
.ruin {
    grid-area:pictures6;
}
.castle {
    grid-area: pictures7;
}
.mountains {
    grid-area: pictures8;
}
